html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url('assets/images/movie.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.overlay-content {
  position: relative;
  z-index: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
