<div class="overlay-content" class="main-header" style="background-color: crimson; font-family: Arial, sans-serif;">
  <div>
    <!-- <h2 style="color: white; padding-left: 10px; font-family: 'Times New Roman', Times, serif;">NETFLIX CLONE</h2> -->
    <h2><a routerLink="/" style="color: white; padding-left: 20px; font-family: 'Times New Roman', Times, serif;text-decoration:none">NETFLIX CLONE</a></h2>
  </div>
  <div class="nav-links">
     <a routerLink="/signup" class="link" style="font-family: Verdana, Geneva, sans-serif;">Signup</a>
     <a routerLink="/login" class="link" style="font-family: 'Courier New', Courier, monospace;">Login</a>
  </div>
</div>

<router-outlet></router-outlet>
